<main class="main">
  <div class="inner">
  <a1>movie-reviewへようこそ</a1>
  <%# ユーザーがサインインした場合の上画面の表示%>
    <% #if user_signed_in? %>
      <div class="greeting">
        <a3>こんにちは</a3>
        <%#= link_to current_user.name, user_path(current_user), class: :greeting__link%>
        <a3>さん</a3>
      </div>
    <%# end %>
  <%# ユーザーがサインインした場合の上画面の表示%>
    
    <div class="review-index">
      <%#　ここに投稿したレビュー一覧を表示させる部分テンプレートをおく %>
    </div>
  </div>
</main>